In [2]:
s=set()

In [3]:
s.add(2)

In [4]:
s.add(4)

In [5]:
s

{2, 4}

In [6]:
s.add(2)

In [7]:
s

{2, 4}

In [8]:
s.clear()     # to empty the set

In [9]:
s

set()

In [10]:
sc={1,2,3}

In [11]:
sc

{1, 2, 3}

In [12]:
type(sc)

set

In [13]:
scc=sc.copy()

In [14]:
scc

{1, 2, 3}

In [15]:
type(scc)

set

In [20]:
sc.add(8)

In [21]:
sc

{1, 2, 3, 8}

In [22]:
scc

{1, 2, 3}

In [26]:
scc.difference(sc)     # scc-sc= nothing

set()

In [27]:
sc.difference(scc)      # sc-scc={8}

{8}

In [28]:
scc

{1, 2, 3}

In [29]:
sc

{1, 2, 3, 8}

In [30]:
sc.difference_update(scc)           # final sc = elements of sc - elements of sc

In [31]:
sc

{8}

In [32]:
scc.difference_update(sc)             # now here sc={8} after update therefore sc-scc={1,2,3}

In [33]:
scc

{1, 2, 3}

In [34]:
v1={1,2,3,4}
v2={2,3,4}

In [37]:
v2.difference_update(v1)         # elements of v2 - elements of v1= null

In [38]:
v2

set()

In [39]:
rr={1,3,5,7,9}

In [41]:
rr.discard(3)

In [42]:
rr

{1, 5, 7, 9}

In [43]:
rr.discard(0)    # nothing happened when there is no element

In [44]:
rr

{1, 5, 7, 9}

In [45]:
s1={1,2,3,4,5}
s2={2,3,4,7,8}

In [47]:
s1.intersection(s2)

{2, 3, 4}

In [48]:
s1.intersection_update(s2)

In [49]:
s1

{2, 3, 4}

In [50]:
s2

{2, 3, 4, 7, 8}

In [51]:
s2.intersection_update(s1)       # it updates the set with the intersectioned elements

In [52]:
s2

{2, 3, 4}

In [54]:
s3={1,2,3,4}
s4={2,4,6,8}
s5={0}

In [56]:
s3.isdisjoint(s4)      # they do have intersection

False

In [57]:
s3

{1, 2, 3, 4}

In [58]:
s4

{2, 4, 6, 8}

In [59]:
s3.isdisjoint(s5)       # they dont have any intersection

True

In [60]:
s3.issubset(s2)

False

In [61]:
s6={1,2}

In [62]:
s3.issubset(s6)              # tells whether s3 is contained in s6

False

In [63]:
s6.issubset(s3)

True

In [64]:
s3.issuperset(s6)            # tells whether s3 contained s6

True

In [65]:
w1={1,2,3,4}
w2={2,3,4}

In [66]:
w1.symmetric_difference(w2)      # returns the offset of the intersection

{1}

In [67]:
w2.symmetric_difference(w1)            # returns the offset of the intersection

{1}

In [68]:
w1

{1, 2, 3, 4}

In [70]:
w1.symmetric_difference_update(w2)

In [71]:
w1

{1}

In [72]:
w2

{2, 3, 4}

In [73]:
w2.symmetric_difference_update(w1)

In [74]:
w2

{1, 2, 3, 4}

In [75]:
s1

{2, 3, 4}

In [76]:
s2

{2, 3, 4}

In [77]:
s1.union(s2)

{2, 3, 4}

In [78]:
s2

{2, 3, 4}

In [79]:
s1.update(s2)

In [80]:
s1

{2, 3, 4}

In [81]:
q1={1,2,3}
q2={4,5}

In [82]:
q1.union(q2)

{1, 2, 3, 4, 5}

In [83]:
q1

{1, 2, 3}

In [84]:
q2.union(q1)

{1, 2, 3, 4, 5}

In [85]:
q2

{4, 5}

In [86]:
q1.update(q2)                  # update the set with the union of itself and other set

In [87]:
q1

{1, 2, 3, 4, 5}

In [88]:
q2

{4, 5}

In [89]:
q2.update(q1)

In [90]:
q2

{1, 2, 3, 4, 5}